/bin
/build3/gmake
/build_cmake/

*.pyc

# Python
__pycache__/
*.py[cod]

# Pip
pip-selfcheck.json
*.whl
*.egg
*.egg-info

# Setuptools
/build
/dist
*.eggs

# IDE 
.idea
cmake-build-debug

# DEVELOP dynamic library
examples/pybullet/gym/eglRenderer.cpython-36m-x86_64-linux-gnu.so
examples/pybullet/gym/pybullet.cpython-36m-x86_64-linux-gnu.so

